.Login {
  margin: auto;
  z-index: 8;
  width: 650px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
  box-sizing: border-box;
  gap: 35px;
  position: relative;
}

.logo {
  width: 220px;
  margin-bottom: 10px;
  user-select: none;
}

.logo > img {
  width: 100%;
}

.input > input {
  width: 390px;
  height: 45px;
  border-radius: 25px;
  padding: 9px 20px;
  border: 3px solid black;
  font-size: 15px;
}
.input > input:focus {
  border: 3px solid black;
}

.inputWrong > input {
  border: 3px solid red;
}

.input > input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
}

.input {
  position: relative;
}

.wrongIcon {
  position: absolute;
  top: 19%;
  left: 90%;
}

.loginButton {
  width: 390px;
  height: 45px;
  background-color: rgb(56, 153, 250);
  text-transform: uppercase;
  color: white;
  border-radius: 50px;
  box-sizing: border-box;
  border: 3px solid rgb(56, 153, 250);
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 10px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  user-select: none;
}

.loginButton:hover {
  border: 3px solid rgb(0, 104, 249);
  background-color: aliceblue;
  color: rgb(56, 153, 250);
}

.createAccount {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

.forgetPassword {
  font-size: 14px;
  color: rgb(255, 119, 0);
  font-weight: 500;
  position: absolute;
  top: 54%;
  left: 61%;
  cursor: pointer;
  user-select: none;
}

.icon {
  position: absolute;
  top: 20px;
  left: 22px;
  cursor: pointer;
}

.wrongInputLogin {
  position: absolute;
  top: 37%;
  left: 23%;
  color: red;
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
}

.logined {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.logined > svg {
  height: 100px;
  /* background-color: red; */
  color: green;
}

.returnButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.returnButton > p {
  font-size: 18px;
  font-weight: 600;
  color: red;
  font-weight: 700;
}

.returnButton > svg {
  height: 30px;
  color: red;
}
